body{
    background-image: linear-gradient(to right, #9796f0, #48b1bf);
    font-family: Optima, sans-serif;
}

.titulo{
    text-align: center;
}

#ponto-computador{
    margin-left: 68.3%;
    font-size: 16pt;
}

#ponto-jogador{
    margin-left: 17.9%;
    position: fixed;
    font-size: 16pt;
}

main{
    height: 500%;
    display: block;
}

#jogador-1{
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    width: 49%;
    height: 68.4%;
    display: inline-block;
    position: fixed;
}

#tesoura1, #papel1, #pedra1, #tesoura2, #papel2, #pedra2{
    width: 15%;
    margin-left: 50%;
    display: block;
    z-index: 100;
    margin-top: 5%;
    border: solid black 2px;
    border-radius: 110%;
}

#lagarto1, #lagarto2{
    position: absolute;
    bottom: 53%;
    margin-left: 29%;
    width: 15%;
    display: block;
    z-index: 100;
    margin-top: 5%;
    border: solid black 2px;
    border-radius: 110%;
}

#spock1, #spock2{
    position: absolute;
    bottom: 18.5%;
    margin-left: 29%;
    width: 15%;
    z-index: 100;
    display: block;
    margin-top: 2%;
    border: solid black 2px;
    border-radius: 110%;
}

#tesoura1:hover, #papel1:hover, #pedra1:hover, #lagarto1:hover, #spock1:hover, #tesoura2:hover, #papel2:hover, #pedra2:hover, #lagarto2:hover, #spock2:hover{
    border:solid red 3px; 
}

#computador{
    height: 51.3%;
    padding-bottom: 8.01%;
    width: 49%;
    display: block;
    position: fixed;
    border: 2px solid black;
    margin-left: 49.2%;
}

#jokenpo1, #jokenpo2{
    width: 25%;
    margin-left: 10%;
    display: block;
    margin-top: 3%;
    position: fixed;
    display: none;
}

#res{
    /*background-image: linear-gradient(to right, #4364F7, #A5FECB);*/
    background-color: #b4b4b6;
    border: 2px solid black;
    height: 15%;
    width: 98.2%;
    margin-top: 10%;
    position: absolute;
    opacity: 0%;
    z-index: 0;
}

#resp{
    font-size: 25pt;
    margin-left: 41.6%;
}

p{
    margin-top: 2%;
    text-align: center;
    font-size: 15pt;
}

a{
    text-decoration: none;
    color: black;
}

#btn{
    width: 5%;
    height: 5%;
    position: absolute;
    left: 47.3%;
    bottom: 10%;
}