body{
    background-image: linear-gradient(to right, #9796f0, #48b1bf);
    font-family: Optima, sans-serif;
}

#title{
    text-align: center;
    opacity: 0%;
}
#menu{
    margin-top: 5%;
    font-size: 15pt;
}
#game-1{
    margin: auto;
    text-align: center;
    position: relative;
    opacity: 0%;
    cursor: default;
}

#game-2{
    margin: auto;
    text-align: center;
    position: relative;
    opacity: 0%;
    cursor: default;
}

#rules{
    text-align: center;
    position: relative;
    opacity: 0%;
    cursor: default;
}

a{
    text-decoration: none;
    color: black;
    position: fixed;
}

#carregando{
    width: 50px;
    height: 50px;
    background-color: transparent;
    display: block;
    position: absolute;
    top: 40%;
    left: 47%;
    border-radius: 100%;
    border-top: 12px solid transparent;
    border-left: 12px solid black;
    border-right: 12px solid black;
    border-bottom: 12px solid black;
    animation: loading 1s linear infinite;
}

@keyframes loading{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}