body{
    background-image: linear-gradient(to right, #06beb6, #48b1bf);
    font-family: Optima, sans-serif;
}

.titulo{
    text-align: center;
}

#ponto-computador{
    margin-left: 68.3%;
    font-size: 16pt;
}

#ponto-jogador{
    margin-left: 17.9%;
    position: fixed;
    font-size: 16pt;
}

main{
    height: 500%;
    display: block;
}

#jogador-1{
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    width: 49%;
    height: 68.4%;
    display: inline-block;
    position: fixed;
}

#tesoura, #papel, #pedra{
    width: 15%;
    margin-left: 50%;
    display: block;
    margin-top: 5%;
    border: solid black 2px;
    border-radius: 110%;
}

#lagarto{
    position: absolute;
    bottom: 53%;
    margin-left: 29%;
    width: 15%;
    display: block;
    margin-top: 5%;
    border: solid black 2px;
    border-radius: 110%;
}

#spock{
    position: absolute;
    bottom: 18.5%;
    margin-left: 29%;
    width: 15%;
    display: block;
    margin-top: 2%;
    border: solid black 2px;
    border-radius: 110%;
}

#tesoura:hover, #papel:hover, #pedra:hover, #lagarto:hover, #spock:hover{
    border:solid red 3px; 
}

#computador{
    height: 51.3%;
    padding-bottom: 8.01%;
    width: 49%;
    display: block;
    position: fixed;
    border: 2px solid black;
    margin-left: 49.2%;
}

#jokenpo{
    width: 35%;
    margin-left: 35%;
    display: block;
    margin-top: 15%;
}

#res{
    background-image: linear-gradient(to right, #48b1bf, #06beb6);
    height: 25%;
    width: 98.5%;
    margin-top: 10%;
    position: absolute;
    display: none;
    z-index: 100;
}

#resp{
    font-size: 25pt;
    margin-left: 39%;
}

p{
    margin-top: 5%;
    text-align: center;
    font-size: 15pt;
}

a{
    text-decoration: none;
    color: black;
}